name: Gradle Checks on PRs
on: pull_request

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: "Set up JDK 11"
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: "Build with Gradle"
        run: gradle build

  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: "Set up JDK 11"
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: "Test with Gradle"
        run: gradle test

  code_coverage:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: "Set up JDK 11"
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: run codecov
        run: gradle test jacocoTestReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          name: codecov-umbrella
          fail_ci_if_error: false